<%--
 Page.Master

 Copyright (c) 2009 Pascal Fresnay (dev.molecule@free.fr) - Mickael Renault (dev.molecule@free.fr) 

 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the rights
 to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in
 all copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 THE SOFTWARE.
 --%>

<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Page.master.cs" Inherits="Molecule.WebSite.Page"
    EnableTheming="true"%>
<%@ Import Namespace="Molecule.WebSite.Services" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link id="favicon1" runat="server" rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link id="favicon2" runat="server" rel="icon" href="~/favicon.ico" type="image/ico" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager runat="server" ID="MasterScriptManager" />
    <asp:UpdateProgress ID="UpdateProgress" runat="server">
            <ProgressTemplate>
                <div id="updateProgress" class="updatePanel">
                    <asp:Label runat="server" ID="chargingLabel" Text="<%$ Resources:Loading %>" />
                </div>
            </ProgressTemplate>
        </asp:UpdateProgress>
        <cc1:AlwaysVisibleControlExtender ID="AlwaysVisibleControlExtender1" runat="server"
    TargetControlID="UpdateProgress" HorizontalSide="Left" VerticalSide="Top" HorizontalOffset="0">
</cc1:AlwaysVisibleControlExtender>
    <div id="pagePanel">
        <div id="header">
        <div id="moleculeTitle">
            <div id="logo"><img alt="logo" src="/App_Themes/<%=Page.Theme%>/images/molecule-64.png" /></div>
                <h1><%= AdminService.MoleculeTitle %></h1></div>
        <div id="pageTitle"><h1><asp:Label ID="pageTitleLabel" runat="server"><%=Page.Title%></asp:Label></h1></div>
        </div>
        <div id="sideBar">
            <div id="menuPanel">
                <asp:Panel runat="server" CssClass="menuContent" ID="menuContent">
                    <asp:Label runat="server" ID="welcomeLabel" Text="<%$Resources:Welcome%>" />
                    <asp:LoginName ID="LoginName1" runat="server" />
                    !
                    
                    <ul>
                    <asp:Repeater runat="server" ID="menu" DataSourceID="SiteMapDataSource">
                    <ItemTemplate>
                        <li><asp:HyperLink runat="server" NavigateUrl='<%# Eval("Url") %>' Text='<%# Eval("Title") %>'></asp:HyperLink></li>
                        </ItemTemplate>
                    </asp:Repeater>
                    </ul>
                    <asp:SiteMapDataSource ID="SiteMapDataSource" runat="server" ShowStartingNode="False" />
                    <asp:LoginStatus ID="loginStatus" runat="server" />
                </asp:Panel>
               <%-- <asp:TextBox id="logTextBox" TextMode="multiline" runat="server" /> --%>
            </div>
            <div id="logPanel">
                <ul>
                    <asp:Repeater ID="logsView" runat="server">
                        <HeaderTemplate>
                        </HeaderTemplate>
                        <ItemTemplate>
                            <li>
                                <%# Server.HtmlEncode(((Molecule.Log.Event)Container.DataItem).CreationDate.ToString("dd/MM/yyy HH:mm")) %>
                                :
                                <%# Server.HtmlEncode(((Molecule.Log.Event)Container.DataItem).Content) %></li>
                        </ItemTemplate>
                        <FooterTemplate>
                        </FooterTemplate>
                    </asp:Repeater>
                </ul>
            </div>
        </div>
        <div id="maincontentPanel">
            <asp:ContentPlaceHolder ID="mainContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <div id="footer">
                © 2008 by <a href="Default.aspx">Molecule Builder</a> 
                | <a href="Default.aspx">About</a>
                | <a href="Default.aspx">Sitemap</a>
         </div>
        
    </div>
    </form>
</body>
</html>




