<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<%@ Import Namespace="Molecule.WebSite.Services" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
   <%-- <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/favicon.ico" type="image/ico" />--%>
    <link type="text/css" rel="stylesheet" href="<%= Url.Theme("molecule.css") %>" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <%--<div id="updateProgress" class="updatePanel">
        <asp:Label runat="server" Text="<%$ Resources:Common,Loading %>" />
    </div>--%>
    <% var data = (Molecule.MvcWebSite.Models.PageData)ViewData["PageData"]; %>
    <div id="pagePanel">
        <div id="header">&nbsp;<div id="logo"><img alt="logo" src="<%= Url.Theme("images/molecule-24.png")%>" /></div>
            <h1>
                <span><%= AdminService.MoleculeTitle %></span><%--<span><%=Page.Title%></span>--%></h1>
        </div>
        <div id="sideBar">
            <div id="menuPanel">
                <div class="menuContent" id="menuContent">
                
                    <%
                        if (Request.IsAuthenticated) {
                       %><%= Resources.molecule.Welcome + " " + Html.Encode(Page.User.Identity.Name) %> !<br />
                    [<%= Html.ActionLink(Resources.molecule.LogOff, "LogOff", new { atome = "admin", controller = "Authentification" })%>]
                    <%
                        }
                        else
                        {
                    %>[<%= Html.ActionLink(Resources.molecule.Login, "LogOn",
                        new { atome = "admin", controller = "Authentification", returnUrl = Page.Request.Url })%>]
                    <%
                        }
                    %>
                    <ul><% foreach (var atome in data.Atomes){%>
                        <li><a href="/<%= atome.Id %>/"><%= atome.Name %></a></li><% } %>
                    </ul>
                    <%--<asp:LoginStatus runat="server" />--%>
                </div>
                <div id="logPanel">
                    <%--<asp:LoginView runat="server">
                <RoleGroups>
                    <asp:RoleGroup Roles="admin">
                        <ContentTemplate>
            
                    <asp:Timer ID="updateLogPanelTimer" runat="server" Interval="200000" />
                    <asp:UpdatePanel runat="server" UpdateMode="Conditional" ChildrenAsTriggers="true">
                        <Triggers>
                            <asp:AsyncPostBackTrigger ControlID="updateLogPanelTimer" />
                        </Triggers>
                        <ContentTemplate>
                            <asp:ListView ID="logsView" runat="server"
                                OnLoad="logsView_OnLoad" ItemPlaceholderID="itemPlaceHolder">
                                <LayoutTemplate>
                                <ul>
                                    <asp:PlaceHolder ID="itemPlaceholder" runat="server" />
                                    </ul>
                                </LayoutTemplate>
                                <ItemTemplate>
                                    <li>
                                        <%# Server.HtmlEncode(((Molecule.Log.Event)Container.DataItem).CreationDate.ToString("dd/MM/yyy HH:mm")) %>
                                        :
                                        <%# Server.HtmlEncode(((Molecule.Log.Event)Container.DataItem).Content) %>
                                    </li>
                                </ItemTemplate>
                                <EmptyDataTemplate>
                                    <li><asp:Label runat="server" Text="<%$Resources:molecule,NoEventsToShow%>" /></li>
                                </EmptyDataTemplate>
                            </asp:ListView>
                            <asp:DataPager ID="logsViewDataPager" PageSize="4" PagedControlID="logsView" runat="server"
                                 EnableViewState="false">
                                <Fields>
                                    <asp:NextPreviousPagerField ButtonType="Link" PreviousPageText="<" ShowNextPageButton="false"
                                        ShowPreviousPageButton="True" />
                                    <asp:NumericPagerField />
                                    <asp:NextPreviousPagerField ButtonType="Link" NextPageText=">" ShowPreviousPageButton="false"
                                        ShowNextPageButton="True" />
                                </Fields>
                            </asp:DataPager>
                        </ContentTemplate>
                    </asp:UpdatePanel>
            
                        </ContentTemplate>
                    </asp:RoleGroup>
                </RoleGroups>
            </asp:LoginView>--%>
                </div>
            </div>
        </div>
        <div id="maincontentPanel">
            <asp:ContentPlaceHolder ID="mainContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <div id="footer">
            © 2008 by <a href=".">Molecule Builder</a> | <a href=".">About</a> | <a href=".">Sitemap</a>
        </div>
     </div>
</body>
</html>
