.photoCurrent
{
	text-align: left;
	width:642;
}



.PhotoLink
{
	display:inline-block;
	margin-bottom:10px;
	margin-top:10px;
}

#photo
{
	position:relative;
	border: solid 1px Grey;
}

#photoDescription
{
	position:absolute;
	bottom:0px;
	background-color: #000000;
	opacity: 0.5;
	filter: alpha(opacity=50); /*ie only*/
}

.grid tr td:first-child
{
	text-align: right;
	padding-right: 1ex;
	font-weight: bold;
	color: #f57900;
}

.grid tr td
{
	text-align: left;
	border: none;
}

.grid thead
{
	display:none;
}

p
{
	clear: both;
}

#map
{
	width: 650px;
	height: 400px;
}
