body
{
	background-color: #0e2426;
    font-family: Candara, Arial, Helvetica, sans-serif;
    font-size:13px;
    color:White;
}

img
{
	border-style:none;
}

#menuPanel
{
	float: left;
    width: 170px;
    position: absolute;
    background-color: #0e2426;
    padding:10px;
    top:40px;
}

.menuContent
{
}

#maincontentPanel
{
	position:relative;
    right: 5px;
    width:665px;
    left:200px;
    padding:16px;
    margin-top:40px;
	margin-bottom:20px;   
}

#pagePanel
{
	float:left;
	position:relative;
	margin-top:40px;
	margin-bottom:40px;
	left:50px;
	right:50px;
	width:900px;
	max-width: 980px;
    min-height: 300px;
    background-color:#2e3436;
}

#footer
{
	float:left;
	position:absolute;
	bottom:0px;
	right:0px;
	left:0px;
	background-color:#111111;
	padding:5px;
	text-align:center;
}

#header
{
	float:left;
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	height:30px;
	padding:5px;
	line-height:0px;
	background-color:#f57900;
}

.tabTitle
{
	margin:5px;
	float:left;
	position:relative;
}




.invisible
{
    display:none;
}

h2
{
	color:#999999;
	font-size:large;
	text-transform:uppercase;
}

h1
{
	font-size:x-large;
}

a:link
{
	text-decoration:none;
	color:#f57900;
	font-weight:bolder;
}


a:active{text-decoration:none; color:#f57900;	font-weight:bolder;}
a:visited{text-decoration:none; color:#f57900;	font-weight:bolder;}
a:hover{text-decoration:none; font-weight:normal;}


table thead
{
	font-weight:bolder;
	background-color:#f57900;
}

#maincontentPanel tr:hover { 
    background-color:#999999;
    border-width : 0px;
}

#pageTitle
{
	float:right;
}

#moleculeTitle
{
	float:left;
}

table tr
{
	height:22px;
}

table td
{
	padding:4px;
}

.tabSelectedTitle
{
	float:left;
	margin:5px;
	position:relative;
}

.tabSelectedTitle a:active
{
	color:#ffffff;
}

.tabSelectedTitle a:link
{
	color:#ffffff;
}

.tabSelectedTitle a:visited
{
	color:#ffffff;
}

.loginPanel
{
	margin-left: auto;
	margin-right: auto;
	background-color:#2e3436;
	position:absolute;
	left:0px;
	right:0px;
	top:40px;
}

.errorDetails
{
	font-weight: bold;
	cursor:pointer;
	color:#f57900;
}
