
#playlistcontainer,
#playerControls,
#albumscontainer,
#artistscontainer
{
    width: 48%;
    display:inline-block;
}

#playlistcontainer,
#albumscontainer
{
	margin-left:10px;
	clear:right;
}

#playlistcontainer
{
	height:230px;
	overflow: auto;
}

#playerControls
{
	overflow: auto;
	height:215px;
	padding-top:15px;
}

.itemList
{
	width:100%;
}

.navigationList,
#playlistPanel
{
	overflow: auto;
	height:150px;
}

.navigationList ul
{
	list-style-type:none;
	padding:0px 5px 0px 0px;
	margin:0px;
}

.navigationList li
{
	width:100%;
	padding:2px;
}

#navigationPanel,
#playerpanel
{
	height:auto;
	clear:both;
	margin-bottom:20px;
}

#songscontainer img,
#playerControls img,
#playlistTable a,
#playlistTable img
{
	cursor:pointer;
	border-style:none;
}

.listRemove span
{
	visibility:hidden;
}

#playlistTable
{
	border-collapse: collapse;
}

#songscontainer
{
	margin-top:20px;
}

#songsView
{
    border-collapse: collapse;
    width:100%;
}


#songsView span
{
	overflow:hidden;
	display:block;
	max-width:200px;
	height:18px;
}

#currentSongPositionLabel
{
	margin-top:5px;
	font-family: Courier New;
}

#currentSongArtistLabel
{
	margin-top:5px;
}

#currentSongTitleLabel
{
	margin-top:10px;
	font-size:110%;
	font-weight:bolder;
}

#coverArtImage
{
	display:none;
	width: 100px;
    height:100px;
    margin-bottom:5px;
    margin-top:5px;
}

#nextButton
{
	margin-right:35px;
}

#currentVolumeLabel
{
	display:inline-block;
	position:relative;
	width:30px;
	bottom:8px;
}

#search
{
	width:50%;
	margin-left:25%;
	margin-right:25%;
	margin-top:20px;
}

#pauseButton
{
	display: none;
}



