<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation>
      <assemblies>
        <add assembly="Molecule"/>
      </assemblies>
    </compilation>
    <membership defaultProvider="SQLiteMembershipProvider" userIsOnlineTimeWindow="20">
      <providers>
        <clear/>
        <add name="SQLiteMembershipProvider" type="Molecule.Web.Security.SQLiteMembershipProvider, Molecule"/>
      </providers>
    </membership>
    <roleManager defaultProvider="SQLiteRoleProvider" enabled="true" cacheRolesInCookie="false">
      <providers>
        <clear/>
        <add name="SQLiteRoleProvider" type="Molecule.Web.Security.SQLiteRoleProvider, Molecule" />
      </providers>
    </roleManager>
  </system.web>
</configuration>