body {
  background-color: #eeeeec;
}


html>body .menu {
  position: fixed
}

#menuUpperLeft {
	position: absolute;
	top: 50px;
	left: 20px;
	width: 150px;
	background-color: #d3d7cf;
	
	background-image : url('/App_Themes/default/images/boxupperleft.png');
	background-repeat : no-repeat;
	background-position : top left;
}

#menuUpperRight {
	background-image : url('/App_Themes/default/images/boxupperright.png');
	background-repeat : no-repeat;
	background-position : top right;
}

#menuLowerLeft{
	background-image : url('/App_Themes/default/images/boxlowerleft.png');
	background-repeat : no-repeat;
	background-position : bottom left;
}

#menuLowerRight{
	background-image : url('/App_Themes/default/images/boxlowerright.png');
	background-repeat : no-repeat;
	background-position : bottom right;
}

#maincontentPanel {
	margin: 0 50px 50px 200px;
	padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
	background:transparent none repeat scro	ll 0 0;
	color:#d3d7cf;
	font-family:luxi serif,georgia,times new roman,times,serif;
	font-weight:normal;
	line-height:1.1em;
	margin:0;
}

h2
{
  color:#888a85;
  min-height:28px;
  overflow:visible;
}

h2 { font-size: 160%; }

.loginPanel
{
	background-color: #d3d7cf;
	margin-left: auto;
	margin-right: auto;
}
