

html>body .menu {
  position: fixed
}

#menuPanel {
	position: absolute;
	top: 50px;
	left: 20px;
	width: 150px;
}

.menuContent {
	background-color: #d3d7cf;
}

#maincontentPanel {
	margin: 0 50px 50px 200px;
	padding: 10px;
}
.loginPanel
{
	background-color: #d3d7cf;
	margin-left: auto;
	margin-right: auto;
}

.errorDetails
{
	font-weight: bold;
	cursor:pointer;
}

.tabTitle
{
	margin:5px;
	float:left;
	position:relative;
}

.tabSelectedTitle
{
	float:left;
	margin:5px;
	position:relative;
	font-weight:bold;
}

#updateProgress { 
      border-right: gray 1px solid; border-top: gray 1px solid; 
      border-left: gray 1px solid; border-bottom: gray 1px solid;
      width: 400px;
      background-color:Black;
      color:White;
      bottom: 0%; left: 0px;
}