.PhotoLink
{
	height:90px;
	width:90px;
	position:relative;
	vertical-align:top;
}

.PhotoLink a
{
	border:none;
}

.PhotoLink_Thumbnail
{
	border:solid 1px Grey;
	padding:4px;
	width:80px;
	height:80px;
}

.PhotoLink_HoverIcon
{
	position:absolute;
	vertical-align:top;
	top:7px;
	left:7px;
}

.PhotoLink_HoverIcon img
{
	border:none;
}

.PhotoLink_HoverText
{
	font-size:15px;
	color:White;
	font-weight:bolder;
	float:right;
	z-index:3;
	top:17px;
	padding-top:4px;
	padding-left:7px;
	position:absolute;
	vertical-align:top;
	width:auto;
}

.PhotoLink_HoverBackground:hover
{
	opacity: 0;
	filter: alpha(opacity=0);
}

.PhotoLink_HoverBackground
{
	opacity: 0.4;
	filter: alpha(opacity=40); /*ie only*/
	background:Black;
	width:80px;
	height:80px;
	margin:5px;
	float:right;
	position:absolute;
	vertical-align:top;
}


.TagList,
.TagList li
{
	margin:0px;
	padding:0px;
	list-style-type:none;
	display: inline-block;
}

.BlockItem
{
	display:inline-block;position:relative;
}