#photoCurrent
{
	text-align:center;
}


#NextPhotoLink,
#PreviousPhotoLink
{
	float:right;
	margin:10px;
	margin-bottom:20px;
}

#tagList,
#tagList li
{
	margin:0px;
	padding:0px;
	list-style-type:none;
	display: inline;
}