#photoNext,
#photoPrevious
{
	position:relative;
	margin:10px;
	vertical-align:top;
	float:right;
	margin-bottom:20px;
}

#photoCurrent
{
	text-align:center;
}


#previousLinkIcon img,
#nextLinkIcon img
{
	border-style:none;
	opacity:0.5;
}

#previousLinkIcon,
#nextLinkIcon
{
	position:absolute;
	border-style:none;
	vertical-align:top;
	top:0px;
}

#nextLinkIcon
{
	right:0px;
}

#tagList,
#tagList li
{
	margin:0px;
	padding:0px;
	list-style-type:none;
	display: inline;
}